<!DOCTYPE html>
<html>
  <head>
    <title>SustainAble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Sustain-ABLE</h1>
      <h2>We can do this together</h2>
    </div>
    <%= yield %>
  </body>
</html>
